.font{
    font-family: 'Courier New', Courier, monospace;
}
.logpage{
    background-color: rgba(128, 128, 128, 0.491);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 37);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(128, 128, 128, 0.576);
}