*{
    font-family: 'Courier New', Courier, monospace;
    
}
.screen{
    background-color: rgba(128, 128, 128, 0.633);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 37);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(128, 128, 128, 0.576);
}
